// Cores
$color-bg-page: #040714;
$color-text-primary: silver; 
$color-text-secondary: #f9f9f9;
$color-btn-primary: #6421ff;
$color-btn-secondary: #0063e5;
$color-btn-terciary: #000;
$color-faq: #13151d;
$color-neutral: #fff;