.watch-anywhere {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media (max-width: 768px) {
            max-width: 64px;
        }
    
    img {
        max-width: 100%;
    }

    .watch-anywhere__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }
}